@font-face {
    font-family: 'First Coffee';
    src: url('/static/fonts/ttf/First_Coffee.ttf');
}

body {
    background-color: rgb(32, 28, 28);
}

h1 {
    font-family: 'Google Sans Flex', sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
}

p {
    font-family: 'Google Sans Flex', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
}

p.disclaimer {
    font-size: 30px;
}

p.quote {
    font-style: italic;
    font-size: 15px;
}

a {
    color: rgb(140, 140, 223)
}

form {
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: #ffffff;
}

form input.file {
    text-align: center;
    font-family: 'Google Sans Flex';
    font-size: 15px;
}

input[type="file"]::file-selector-button {
  background-color: rgb(0, 195, 255);
  border-radius: 10px;
  padding: 4px;
  color: rgb(0, 0, 0);
  border: none;
}

button {
    font-family: "Montserrat";
    font-size: 20px;
    background-color: rgb(0, 195, 255);
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(6, 138, 179);
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(6, 138, 179);
}

div.upload-status {
    font-family: 'Montserrat';
}

h1.neuro {
    font-family: 'First Coffee';
}

p.neuro {
    font-family: 'First Coffee';
}

p.neuro a {
    color: rgb(72, 168, 231);
}

p.nquote {
    font-style: italic;
    font-size: 15px;
    font-family: 'First Coffee';
}